<%- include('partials/header.ejs'); -%>
<div class="row explore-row mx-0">
  <div class="col-md-6 branding-window px-0">
    <div class="h-discore-container">
      <img
        src="images/discoreLogo.png"
        alt="discore logo"
        class="discore-titan"
      />
      <h1 class="h-titan">Discore</h1>
    </div>
    <div class="wave-mask"></div>
    <img
      class="wave-titan"
      src="images/soundwave_1_cropped.png"
      alt="sound wave"
    />
    <div class="collapsed-line"></div>
  </div>
  <div class="col-md-6 dial-pad-window px-0">
    <div class="explore-divider"></div>
    <div class="dial-pad">
      <h2>Sign in to Discore</h2>

      <a class="neon-key select-btn" href="/">
        <i class="fa-brands fa-google google-icon"></i>
        Sign out
      </a>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs'); -%>
