<%- include('partials/header.ejs'); -%>
<div class="row explore-row mx-0">
  <div class="col-md-6 branding-window px-0 scroll-div">
    <div class="h-discore-container">
      <h2>Terms & privacy policy</h2>
      <div class="review-divider"></div>
      <div class="editing-album-container">
        <img
          src="images/discoreLogo.png"
          alt="discore logo"
          class="discore-score"
        />
        <!-- Terms and privacy nav -->
        <div class="terms-nav">
          <ul class="score-steps neon-border">
            <a href="#terms">
              <li class="score-active">
                <span class="score-num">01</span>Terms of use
              </li>
            </a>
            <a href="#privacy-policy"
              ><li><span class="score-num">02</span>Privacy policy</li></a
            >
          </ul>
        </div>
      </div>
    </div>
    <div class="wave-mask"></div>
    <img
      class="wave-titan"
      src="images/soundwave_1_cropped.png"
      alt="sound wave"
    />
    <div class="collapsed-line"></div>
  </div>
  <div class="col-md-6 dial-pad-window px-0">
    <div class="explore-divider"></div>
    <div class="dial-pad">
      <div class="terms-container">
        <!-- Terms of service -->
        <div class="tos-container">
          <h1 id="terms">
            <span class="score-num">01</span>Terms and Conditions
          </h1>
          <p class="body-text">Last updated: May 20, 2024</p>
          <p class="body-text">
            Please read these terms and conditions carefully before using Our
            Service.
          </p>
          <h2><span class="score-num">01.01</span>Interpretation</h2>
          <p class="body-text">
            The words of which the initial letter is capitalized have meanings
            defined under the following conditions. The following definitions
            shall have the same meaning regardless of whether they appear in
            singular or in plural.
          </p>
          <h2><span class="score-num">01.02</span>Definitions</h2>
          <p class="body-text">
            For the purposes of these Terms and Conditions:
          </p>
          <ul class="body-text">
            <li>
              <p>
                <strong>Affiliate</strong> means an entity that controls, is
                controlled by or is under common control with a party, where
                &quot;control&quot; means ownership of 50% or more of the
                shares, equity interest or other securities entitled to vote for
                election of directors or other managing authority.
              </p>
            </li>
            <li>
              <p><strong>Country</strong> refers to: Ontario, Canada</p>
            </li>
            <li>
              <p>
                <strong>Company</strong> (referred to as either &quot;the
                Company&quot;, &quot;We&quot;, &quot;Us&quot; or &quot;Our&quot;
                in this Agreement) refers to Discore.
              </p>
            </li>
            <li>
              <p>
                <strong>Device</strong> means any device that can access the
                Service such as a computer, a cellphone or a digital tablet.
              </p>
            </li>
            <li>
              <p><strong>Service</strong> refers to the Website.</p>
            </li>
            <li>
              <p>
                <strong>Terms and Conditions</strong> (also referred as
                &quot;Terms&quot;) mean these Terms and Conditions that form the
                entire agreement between You and the Company regarding the use
                of the Service. This Terms and Conditions agreement has been
                created with the help of the
                <a
                  class="hyper"
                  href="https://www.privacypolicies.com/terms-conditions-generator/"
                  target="_blank"
                  >Terms and Conditions Generator</a
                >.
              </p>
            </li>
            <li>
              <p>
                <strong>Third-party Social Media Service</strong> means any
                services or content (including data, information, products or
                services) provided by a third-party that may be displayed,
                included or made available by the Service.
              </p>
            </li>
            <li>
              <p>
                <strong>Website</strong> refers to Discore, accessible from
                <a class="hyper" href="https://di-score.com/" target="_blank"
                  >https://di-score.com/</a
                >
              </p>
            </li>
            <li>
              <p>
                <strong>You</strong> means the individual accessing or using the
                Service, or the company, or other legal entity on behalf of
                which such individual is accessing or using the Service, as
                applicable.
              </p>
            </li>
          </ul>
          <h2><span class="score-num">01.03</span>Content on the Service</h2>
          <p class="body-text">
            If you create an account, you may upload Content to the Service. If
            you upload any Content, you must not submit any Content that does
            not comply with this Agreement. You are accountable for the use of
            the Service and any Content you contribute. This responsibility
            includes adherence to applicable laws, rules, and regulations. You
            should only provide Content that you feel comfortable sharing with
            others. Any reliance on Content posted via the Services or obtained
            through them is undertaken at the your own risk. We do not endorse,
            support, represent, or guarantee the completeness, truthfulness,
            accuracy, or reliability of any Content or communications posted via
            the Service. By using the Service, you may encounter Content that
            could be offensive, harmful, inaccurate, or otherwise inappropriate.
            The sole responsibility for all Content lies with the person who
            originated it. We do not actively monitor or control the Content
            posted via the Services, and therefore, we cannot assume
            responsibility for it. However, we reserve the right to remove
            Content that violates the User Agreement. Examples of violations
            include copyright or trademark infringements, intellectual property
            misappropriation, impersonation, unlawful conduct, or harassment.
          </p>
          <h2><span class="score-num">01.04</span>License to use Content</h2>
          <p class="body-text">
            By submitting Content to the Service, you grant the Service
            world-wide, non-exclusive, royalty-free, transferable license to
            use, copy, reproduce, process, adapt, modify, publish, transmit,
            display and distribute the said Content used by the Service now, or
            later developed by the Service.
          </p>
          <h2><span class="score-num">01.05</span>Your Account</h2>
          <p class="body-text">
            You may need an account to use the Service. Safeguarding the account
            is your sole responsibility. We are not liable, cannot be held
            liable, and will not be liable for any loss or damage arising from
            your use of your account.
          </p>
          <h2>
            <span class="score-num">01.06</span>License to use the Service
          </h2>
          <p class="body-text">
            You may be granted a personal, world-wide, royalty-free,
            non-assignable, non-exclusive, non-commercial license to use the
            software provided as part of the Service.
          </p>
          <h2><span class="score-num">01.07</span>Trademarks</h2>
          <p class="body-text">
            Trademarks, service marks and all graphical elements, including the
            look and feel of the UI/UX of the Service are distinctive and
            protected trademarks of the Service.
          </p>
          <h2><span class="score-num">01.08</span>Acknowledgment</h2>
          <p class="body-text">
            These are the Terms and Conditions governing the use of this Service
            and the agreement that operates between You and the Company. These
            Terms and Conditions set out the rights and obligations of all users
            regarding the use of the Service.
          </p>
          <p class="body-text">
            Your access to and use of the Service is conditioned on Your
            acceptance of and compliance with these Terms and Conditions. These
            Terms and Conditions apply to all visitors, users and others who
            access or use the Service.
          </p>
          <p class="body-text">
            By accessing or using the Service You agree to be bound by these
            Terms and Conditions. If You disagree with any part of these Terms
            and Conditions then You may not access the Service.
          </p>
          <p class="body-text">
            You represent that you are over the age of 18. The Company does not
            permit those under 18 to use the Service.
          </p>
          <p class="body-text">
            Your access to and use of the Service is also conditioned on Your
            acceptance of and compliance with the
            <a class="hyper" href="#privacy-policy"
              >Privacy Policy of the Company</a
            >. Our Privacy Policy describes Our policies and procedures on the
            collection, use and disclosure of Your personal information when You
            use the Application or the Website and tells You about Your privacy
            rights and how the law protects You. Please read Our Privacy Policy
            carefully before using Our Service.
          </p>
          <h2><span class="score-num">01.09</span>Links to Other Websites</h2>
          <p class="body-text">
            Our Service may contain links to third-party web sites or services
            that are not owned or controlled by the Company.
          </p>
          <p class="body-text">
            The Company has no control over, and assumes no responsibility for,
            the content, privacy policies, or practices of any third party web
            sites or services. You further acknowledge and agree that the
            Company shall not be responsible or liable, directly or indirectly,
            for any damage or loss caused or alleged to be caused by or in
            connection with the use of or reliance on any such content, goods or
            services available on or through any such web sites or services.
          </p>
          <p class="body-text">
            We strongly advise You to read the terms and conditions and privacy
            policies of any third-party web sites or services that You visit.
          </p>
          <h2><span class="score-num">01.10</span>Termination</h2>
          <p class="body-text">
            We may terminate or suspend Your access immediately, without prior
            notice or liability, for any reason whatsoever, including without
            limitation if You breach these Terms and Conditions.
          </p>
          <p class="body-text">
            Upon termination, Your right to use the Service will cease
            immediately.
          </p>
          <h2><span class="score-num">01.11</span>Limitation of Liability</h2>
          <p class="body-text">
            Notwithstanding any damages that You might incur, the entire
            liability of the Company and any of its suppliers under any
            provision of this Terms and Your exclusive remedy for all of the
            foregoing shall be limited to the amount actually paid by You
            through the Service or 100 USD if You haven't purchased anything
            through the Service.
          </p>
          <p class="body-text">
            To the maximum extent permitted by applicable law, in no event shall
            the Company or its suppliers be liable for any special, incidental,
            indirect, or consequential damages whatsoever (including, but not
            limited to, damages for loss of profits, loss of data or other
            information, for business interruption, for personal injury, loss of
            privacy arising out of or in any way related to the use of or
            inability to use the Service, third-party software and/or
            third-party hardware used with the Service, or otherwise in
            connection with any provision of this Terms), even if the Company or
            any supplier has been advised of the possibility of such damages and
            even if the remedy fails of its essential purpose.
          </p>
          <p class="body-text">
            Some states do not allow the exclusion of implied warranties or
            limitation of liability for incidental or consequential damages,
            which means that some of the above limitations may not apply. In
            these states, each party's liability will be limited to the greatest
            extent permitted by law.
          </p>
          <h2>
            <span class="score-num">01.12</span>&quot;AS IS&quot; and &quot;AS
            AVAILABLE&quot; Disclaimer
          </h2>
          <p class="body-text">
            The Service is provided to You &quot;AS IS&quot; and &quot;AS
            AVAILABLE&quot; and with all faults and defects without warranty of
            any kind. To the maximum extent permitted under applicable law, the
            Company, on its own behalf and on behalf of its Affiliates and its
            and their respective licensors and service providers, expressly
            disclaims all warranties, whether express, implied, statutory or
            otherwise, with respect to the Service, including all implied
            warranties of merchantability, fitness for a particular purpose,
            title and non-infringement, and warranties that may arise out of
            course of dealing, course of performance, usage or trade practice.
            Without limitation to the foregoing, the Company provides no
            warranty or undertaking, and makes no representation of any kind
            that the Service will meet Your requirements, achieve any intended
            results, be compatible or work with any other software,
            applications, systems or services, operate without interruption,
            meet any performance or reliability standards or be error free or
            that any errors or defects can or will be corrected.
          </p>
          <p class="body-text">
            Without limiting the foregoing, neither the Company nor any of the
            company's provider makes any representation or warranty of any kind,
            express or implied: (i) as to the operation or availability of the
            Service, or the information, content, and materials or products
            included thereon; (ii) that the Service will be uninterrupted or
            error-free; (iii) as to the accuracy, reliability, or currency of
            any information or content provided through the Service; or (iv)
            that the Service, its servers, the content, or e-mails sent from or
            on behalf of the Company are free of viruses, scripts, trojan
            horses, worms, malware, timebombs or other harmful components.
          </p>
          <p class="body-text">
            Some jurisdictions do not allow the exclusion of certain types of
            warranties or limitations on applicable statutory rights of a
            consumer, so some or all of the above exclusions and limitations may
            not apply to You. But in such a case the exclusions and limitations
            set forth in this section shall be applied to the greatest extent
            enforceable under applicable law.
          </p>
          <h2><span class="score-num">01.13</span>Governing Law</h2>
          <p class="body-text">
            The laws of the Country, excluding its conflicts of law rules, shall
            govern this Terms and Your use of the Service. Your use of the
            Application may also be subject to other local, state, national, or
            international laws.
          </p>
          <h2><span class="score-num">01.14</span>Disputes Resolution</h2>
          <p class="body-text">
            If You have any concern or dispute about the Service, You agree to
            first try to resolve the dispute informally by contacting the
            Company.
          </p>
          <h2>
            <span class="score-num">01.15</span>For European Union (EU) Users
          </h2>
          <p class="body-text">
            If You are a European Union consumer, you will benefit from any
            mandatory provisions of the law of the country in which You are
            resident.
          </p>
          <h2>
            <span class="score-num">01.16</span>United States Legal Compliance
          </h2>
          <p class="body-text">
            You represent and warrant that (i) You are not located in a country
            that is subject to the United States government embargo, or that has
            been designated by the United States government as a &quot;terrorist
            supporting&quot; country, and (ii) You are not listed on any United
            States government list of prohibited or restricted parties.
          </p>
          <h2><span class="score-num">01.17</span>Severability</h2>
          <p class="body-text">
            If any provision of these Terms is held to be unenforceable or
            invalid, such provision will be changed and interpreted to
            accomplish the objectives of such provision to the greatest extent
            possible under applicable law and the remaining provisions will
            continue in full force and effect.
          </p>
          <h2><span class="score-num">01.18</span>Waiver</h2>
          <p class="body-text">
            Except as provided herein, the failure to exercise a right or to
            require performance of an obligation under these Terms shall not
            affect a party's ability to exercise such right or require such
            performance at any time thereafter nor shall the waiver of a breach
            constitute a waiver of any subsequent breach.
          </p>
          <h2>
            <span class="score-num">01.19</span>Translation Interpretation
          </h2>
          <p class="body-text">
            These Terms and Conditions may have been translated if We have made
            them available to You on our Service. You agree that the original
            English text shall prevail in the case of a dispute.
          </p>
          <h2>
            <span class="score-num">01.20</span>Changes to These Terms and
            Conditions
          </h2>
          <p class="body-text">
            We reserve the right, at Our sole discretion, to modify or replace
            these Terms at any time. If a revision is material We will make
            reasonable efforts to provide at least 30 days' notice prior to any
            new terms taking effect. What constitutes a material change will be
            determined at Our sole discretion.
          </p>
          <p class="body-text">
            By continuing to access or use Our Service after those revisions
            become effective, You agree to be bound by the revised terms. If You
            do not agree to the new terms, in whole or in part, please stop
            using the website and the Service.
          </p>
          <h2><span class="score-num">01.21</span>Contact Us</h2>
          <p class="body-text">
            If you have any questions about these Terms and Conditions, You can
            contact us:
          </p>
          <ul class="body-text">
            <li>By email: ravishansays@gmail.com</li>
          </ul>
        </div>
        <!-- Divider -->
        <div class="review-divider"></div>
        <!-- Privacy policy -->
        <div class="privacy-container">
          <h1 id="privacy-policy">
            <span class="score-num">02</span>Privacy Policy
          </h1>
          <p class="body-text">Last updated: May 20, 2024</p>
          <p class="body-text">
            Ravishan Wijemanne built the Discore app as a free | freemium app.
            This SERVICE is provided by Ravishan Wijemanne at no cost and is
            intended for use as is.
          </p>
          <p class="body-text">
            This page is used to inform website visitors regarding our policies
            with the collection, use, and disclosure of Personal Information if
            anyone decided to use our Service.
          </p>
          <p class="body-text">
            If you choose to use our Service, then you agree to the collection
            and use of information in relation with this policy. The Personal
            Information that we collect are used for providing and improving the
            Service. We will not use or share your information with anyone
            except as described in this Privacy Policy.
          </p>
          <p class="body-text">
            The terms used in this Privacy Policy have the same meanings as in
            our Terms and Conditions, which is accessible at
            <a href="https://di-score.com" target="_blank" class="hyper"
              >https://di-score.com</a
            >, unless otherwise defined in this Privacy Policy.
          </p>

          <h2>
            <span class="score-num">02.01</span>Information Collection and Use
          </h2>
          <p class="body-text">
            For a better experience while using our Service, we may require you
            to provide us with certain personally identifiable information,
            including but not limited to users name and email address. The
            information that we request will be retained by us and used as
            described in this privacy policy.
          </p>
          <p class="body-text">
            The app does use third party services that may collect information
            used to identify you. The app uses Google services to authenticate
            users to log in to the application, via google OAuth. You can click
            <a
              class="hyper"
              href="https://policies.google.com/privacy?hl=en-US"
              target="_blank"
              >here to find Google's privacy policy and terms of service</a
            >.
          </p>

          <h2><span class="score-num">02.02</span>Log Data</h2>
          <p class="body-text">
            We want to inform you that whenever you use our Service, in case of
            an error in the app we collect data and information (through third
            party products) on your phone called Log Data. This Log Data may
            include information such as your devices’s Internet Protocol (“IP”)
            address, device name, operating system version, configuration of the
            app when utilising our Service, the time and date of your use of the
            Service, and other statistics.
          </p>

          <h2><span class="score-num">02.03</span>Cookies</h2>
          <p class="body-text">
            Cookies are files with small amount of data that is commonly used an
            anonymous unique identifier. These are sent to your browser from the
            website that you visit and are stored on your devices’s internal
            memory.
          </p>
          <p class="body-text">
            This Services uses these “cookies” explicitly. The app may use third
            party code and libraries that use “cookies” to collect information
            and to improve their services. You have the option to either accept
            or refuse these cookies, and know when a cookie is being sent to
            your device. If you choose to refuse our cookies, you may not be
            able to use some portions of this Service.
          </p>

          <h2><span class="score-num">02.04</span>Service Providers</h2>
          <!-- This part need seem like it's not needed, but if you use any Google services, or any other third party libraries, chances are, you need this. -->
          <p class="body-text">
            We may employ third-party companies and individuals due to the
            following reasons:
          </p>
          <ul class="body-text">
            <li>To facilitate our Service;</li>
            <li>To provide the Service on our behalf;</li>
            <li>To perform Service-related services; or</li>
            <li>To assist us in analyzing how our Service is used.</li>
          </ul>
          <p class="body-text">
            We want to inform users of this Service that these third parties
            have access to your Personal Information. The reason is to perform
            the tasks assigned to them on our behalf. However, they are
            obligated not to disclose or use the information for any other
            purpose.
          </p>

          <h2><span class="score-num">02.05</span>Security</h2>
          <p class="body-text">
            We value your trust in providing us your Personal Information, thus
            we are striving to use commercially acceptable means of protecting
            it. But remember that no method of transmission over the internet,
            or method of electronic storage is 100% secure and reliable, and we
            cannot guarantee its absolute security.
          </p>

          <h2><span class="score-num">02.06</span>Links to Other Sites</h2>
          <p class="body-text">
            This Service may contain links to other sites. If you click on a
            third-party link, you will be directed to that site. Note that these
            external sites are not operated by us. Therefore, I strongly advise
            you to review the Privacy Policy of these websites. I have no
            control over, and assume no responsibility for the content, privacy
            policies, or practices of any third-party sites or services.
          </p>

          <h2><span class="score-num">02.07</span>Children’s Privacy</h2>
          <p class="body-text">
            This Services do not address anyone under the age of 13. We do not
            knowingly collect personal identifiable information from children
            under 13. In the case we discover that a child under 13 has provided
            us with personal information, we immediately delete this from our
            servers. If you are a parent or guardian and you are aware that your
            child has provided us with personal information, please contact us
            so that we will be able to do necessary actions.
          </p>

          <h2>
            <span class="score-num">02.08</span>Changes to This Privacy Policy
          </h2>
          <p class="body-text">
            We may update our Privacy Policy from time to time. Thus, you are
            advised to review this page periodically for any changes. We will
            notify you of any changes by posting the new Privacy Policy on this
            page. These changes are effective immediately, after they are posted
            on this page.
          </p>

          <h2><span class="score-num">02.09</span>Contact Us</h2>
          <p class="body-text">
            If you have any questions or suggestions about our Privacy Policy,
            do not hesitate to contact us.
          </p>
          <p class="body-text">
            This Privacy Policy page was created at
            <a
              class="hyper"
              href="https://privacypolicytemplate.net"
              target="_blank"
              >privacypolicytemplate.net</a
            >.
          </p>
        </div>
      </div>
      <a class="neon-key select-btn terms-back-btn" href="/my-discore">
        <i class="fa-solid fa-arrow-left button-icon"></i>
        Back to my discore
      </a>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs'); -%>
